.entry {
  /* display: grid; */
  border: 2px dashed goldenrod;
  width: 400px;
  margin: 20px auto 10px;
  padding: 5px 5px 20px;
  text-align: left;
  display: inline-flex;
  inline-size: 300px;
  font-size: large;
  text-shadow: 1px 1px 1px darkred;
}

.card {
  background-color: rgba(252, 132, 132, 0.753);
  border-radius: 7%;
  margin: 10px;
  padding: 5px;
  width: 260px;
  height: 135px;
}

.name {
  text-decoration: underline;
  font-style: italic;
}

.controls {
  border-radius: 5px;
}

.button2 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, darkred, goldenrod, darkgreen);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.button2 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, darkred, goldenrod, darkgreen);
}

.button2:after {
  content: '';
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.button2:hover {
  background-image: linear-gradient(-45deg, darkred, goldenrod, darkgreen);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.button2:hover .text {
  background-image: linear-gradient(-45deg, darkred, goldenrod, darkgreen);
}
