body {
  background-color: indianred;
  text-align: center;
}

mark {
  background-color: indianred;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* .footer {
  background-color: rgba(219, 157, 157, 0.753);
  font-weight: bold;
  position: absolute;
  text-decoration: underline 2px;
  font-style: italic;
  height: 25px;
  width: 100%;
} */
